<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true">
	<targets>
		<target xsi:type="File" name="fileTarget" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} ${uppercase:${level}} _${aspnet-user-identity}_ ${message}" />
		<target xsi:type="ColoredConsole" name="consoleTarget"  layout="${longdate}_ |${level}|  _${aspnet-user-identity} | - ${message}" />

		<target name="db"
		        xsi:type="Database"
		        connectionString="Server=.;Database=Pishgaman_Db;User Id=sa;Password=12345678@;TrustServerCertificate=True;MultipleActiveResultSets=true"
		>
			<commandText>
				insert into dbo.NlogDBLog (
				Application, Logged, Level, Message,
				Logger, CallSite, Exception
				) values (
				@Url,@Application, @Logged, @Level, @Message,
				@Logger, @Callsite, @Exception
				);
			</commandText>
			<parameter name="@application" layout="AspNetCoreNlog" />
			<parameter name="@logged" layout="${date}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@callSite" layout="${callsite:filename=true}" />
			<parameter name="@exception" layout="${exception:tostring}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="db" />
		<logger name="*" minlevel="Warning" writeTo="consoleTarget" />
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
	</rules>
</nlog>